h1 {
    text-align: center;
  }
       body{
        background-image: url("signup_bkg.jpg");
        background-size: cover;
        margin: 0;
      }
       
         
          .container {
              background-color: #fff;
            
             
              max-width: 500px;
              margin: 50px auto;
              padding: 20px;
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
          input[type="text"], input[type="password"] {
              padding: 10px;
              width: 50%;
              margin-bottom: 20px;
              border-radius: 5px;
              border: none;
              background-color: #f7f7f7;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
          label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            color: #555;
          }
          button[type="submit"] {
            background-color: #00b4cc;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            align-content: center;
          }
          .center-form {
            display: flex;
            flex-direction: column;
            
          }
          .center-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
          }
          
          
          