/* set up some basic styles for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

/* center the signup form container */
.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* make the form title stand out */
h1 {
  text-align: center;
  color: #555;
}

/* set up the form fields */
form {
  display: flex;
  flex-direction: column;
}

/* style the form fields labels */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

/* style the input fields */
.input-field {
  width: 100%; /* Set the desired width for your input boxes */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"] {
  padding: 10px;
  border: none;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

/* style the submit button */
button[type="submit"] {
  background-color: #00b4cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #008ba3;
}

/* style the reset button */
button[type="reset"] {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="reset"]:hover {
  background-color: #c7c7c7;
}
